<h1> Here are your recipes: </h1>
<ul>
  <% @recipes.each_with_index do |recipe, index|  %>
    <li>
    <%= recipe.name %> (<%= recipe.time %>) - <a href="/recipes/<%= index %>">Delete</a></li>
  <% end %>
</ul>

<a href="/new">Add a recipe</a>
