<h1>Add a recipe to your cookbook</h1>
<p>Enter the information about your recipe here: </p>
<form action="/recipe" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="name">Description</label>
    <input type="text" name="description">
  </div>
    <div>
    <label for="name">Prep time:</label>
    <input type="text" name="time">
  </div>
    <div>
    <label for="name">Difficulty level:</label>
    <input type="text" name="level">
  </div>
  <input type="submit" value="Add to cookbook">
</form>
